<%- include('partials/header.ejs'); -%>
<article id="reviewed-book">
  <div class="container-md py-4 justify-content-center">
    <div class="row gx-5">
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Delete Review
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-theme="light"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Your action is irreversible. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <form action="/delete" method="post" id="form-delete"></form>
              <button
                form="form-delete"
                type="submit"
                name="bookKey"
                value="<%= book.key %>"
                class="btn btn-outline-secondary"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center mb-md-0 mb-3">
        <div class="placeholder-glow">
          <img
            src="<%= book.cover %>"
            alt="book cover"
            class="reviewed-book-cover bg-secondary img-fluid placeholder"
            onload="removePlaceholder(this) "
          />
        </div>
      </div>
      <div class="col-md-9">
        <div
          class="header-container d-flex flex-md-row flex-column-reverse w-100 align-items-center justify-content-between border-bottom border-dark-subtle pb-1 mb-3"
        >
          <h2 class="m-0"><%= book.book_title %></h2>
          <form action="/edit-review" id="form-edit" method="post">
            <input type="hidden" name="bookKey" value="<%= book.key %>" />
          </form>
          <div class="button-group">
            <button
              type="submit"
              class="btn btn-outline-secondary btn-sm"
              form="form-edit"
            >
              <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
              Edit
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i> Delete
            </button>
          </div>
        </div>

        <p>Year first published : <%= book.date_publish %></p>
        <p>Author(s): <%= book.author.replace(",",", ") %></p>
        <label for="review-content">Review :</label>
        <textarea
          id="review-content"
          readonly
          rows="20"
          class="review-content form-control bg-body-secondary mb-3"
        >
<%= book.review %></textarea
        >
        <p class="mb-0">Rating :</p>

        <div class="rated d-flex align-items-center justify-content-start">
          <% for( let index = 1; index <= 5; index++ ) { %> <% if (index <=
          book.rating) { %>
          <div class="stars checked">&#9733;</div>
          <% } else { %>
          <div class="stars">&#9733;</div>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </div>
</article>

<%- include('partials/footer.ejs'); -%>
