<%- include('partials/header.ejs'); -%>

<article id="books-album">
  <div class="container-md py-4">
    <h2 class="pb-3 border-bottom border-dark-subtle">My Books</h2>
    <form id="myBook" action="/book" method="get"></form>
    <div
      id="book-container"
      class="row justify-content-md-start mt-1 justify-content-center g-4"
      data-itemsPerPage="6"
    >
      <% if (books.length) { %> <% books.forEach(book => { %>
      <div class="card-container col-lg-4 col-md-6 col-sm-8">
        <div class="card shadow-sm bg-body-secondary">
          <div class="card-body text-center">
            <div class="placeholder-glow">
              <img
                class="book-cover img-fluid placeholder"
                src="<%=book.cover %>"
                alt="book cover"
                onload='this.parentNode.classList.remove("placeholder-glow");this.classList.remove("placeholder");'
              />
            </div>
            <h3 class="mt-2 card-title"><%= book.book_title %></h3>
            <button
              type="submit"
              form="myBook"
              name="bookKey"
              value="<%= book.key %>"
              class="button btn btn-primary shadow"
            >
              View
            </button>
          </div>
        </div>
      </div>
      <%}); %> <% } %>
    </div>
    <div
      class="pagination d-flex justify-content-center mt-4 gap-2 align-items-center"
    >
      <button class="btn btn-outline-secondary btn-sm shadow" id="firstPage">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
      <button
        class="page-btn btn btn-outline-secondary btn-sm shadow"
        id="prevPage"
      >
        Previous
      </button>
      <small id="pageIndicator" class=""></small>
      <button
        class="page-btn btn btn-outline-secondary btn-sm shadow"
        id="nextPage"
      >
        Next
      </button>
      <button class="btn btn-outline-secondary btn-sm shadow" id="lastPage">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</article>

<%- include('partials/footer.ejs'); -%>
