<%- include('partials/header.ejs'); -%>

<section>
  <div class="container-md py-4">
    <h2 class="pb-2 border-bottom border-dark-subtle mb-4">Search Results</h2>
    <div
      class="row justify-content-start gy-4 row-cols-xl- row-cols-md-4 row-cols-2"
    >
      <% if (books.length) { %> <% books.forEach(book => { %>
      <div class="col">
        <div class="card">
          <img
            src="https://covers.openlibrary.org/b/id/<%=book.cover_i%>-L.jpg"
            class="card-img-top"
            alt="..."
            style="aspect-ratio: 3/5; object-position: center"
          />
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><%= book.author_name %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <%}); %> <% } %>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs'); -%>
