<%- include('partials/header.ejs'); -%>

<section>
  <div class="container-md py-4">
    <div class="d-flex pb-2 border-bottom border-dark-subtle mb-4 justify-content-between">
      <h2 class="m-0">Search Results</h2>
      <div class="dropstart">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          View items per page
        </button>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item" href="/search-book?search=<%=query.search.replace(" ", "+")%>">20</a></li>
          <li><a class="dropdown-item" href="/search-book?search=<%=query.search.replace(" ", "+")%>&perpage=40">40</a></li>
          <li><a class="dropdown-item" href="/search-book?search=<%=query.search.replace(" ", "+")%>&perpage=60">60</a></li>
        </ul>
      </div>
    </div>
    <form id="getBook" action="/book" method="get"></form>
    <div
      id="book-container"
      class="row justify-content-start gy-4 row-cols-xl-5 row-cols-md-4 row-cols-2"
      data-itemsPerPage="<%= query.perpage %>"
    >
      <% if (books.length) { %> <% books.forEach(book => { %>
      <div class="col card-container">
        <div class="card placeholder-glow h-100">
          <img
            src="https://covers.openlibrary.org/b/id/<%=book.cover_i%>-L.jpg"
            class="card-img-top bg-secondary placeholder results-book-cover"
            alt="a book cover image"
            onload='removePlaceholder(this) '
          />
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><%= book.author_name %></p>
            <button form="getBook" name="bookKey" value="<%= book.key.replace("/works/", "") %>" class="btn btn-primary">View</button>
          </div>
        </div>
      </div>
      <%}); %> <% } %>
    </div>
    <div
      class="pagination d-flex justify-content-center mt-4 gap-2 align-items-center"
    >
      <button class="btn btn-outline-secondary btn-sm shadow" id="firstPage">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
      <button
        class="page-btn btn btn-outline-secondary btn-sm shadow"
        id="prevPage"
      >
        Previous
      </button>
      <small id="pageIndicator" class=""></small>
      <button
        class="page-btn btn btn-outline-secondary btn-sm shadow"
        id="nextPage"
      >
        Next
      </button>
      <button class="btn btn-outline-secondary btn-sm shadow" id="lastPage">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs'); -%>
